certifi==2022.12.7
chardet==3.0.4
Click==7.0
decorator==4.3.0
enum34==1.1.6
Flask==1.0.2
futures==3.2.0
get==1.0.3
idna==2.7
imageio==2.4.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
moviepy==0.2.3.5
numpy==1.22.0
Pillow==9.3.0
PlexAPI==3.1.0
post==1.0.2
public==2.0.1
query-string==1.0.2
request==1.0.2
requests==2.20.0
six==1.11.0
tqdm==4.28.1
urllib3==1.24
websocket-client==0.53.0
Werkzeug==0.14.1
